body{
    background-color: rgb(134, 134, 255);
    font-family: georgia, 'Times New Roman', times, serif;
}
footer{
    background-color: rgb(146, 146, 238);
    color:darkblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}
#container{
    display: flex;
}
.cartao{
    margin: 1rem 1rem;
}